
<div class='nav-container'>
    <div class='nav-row'>
        <div class='nav-group'>
            <div class='nav-item'>
                <%= image_tag 'logo.png', size: '75x75' %>
            </div>
        </div>
        <div class='nav-group'>
            <div class='nav-item'>
                <h3 class='greeting'>Hello <%= current_user.full_name %></h3>
            </div>
            <div class='nav-item'>
                <%= button_to 'Sign Out', sessions_path, :method => :delete %>
            </div>
        </div>
    </div>
    <div class='nav-row'>
        <div class='nav-group'>
        </div>
        <div class='nav-group'>
            <div class='nav-item'>
                <%= link_to 'Home', root_path %>
            </div>
            <div class='nav-item'>
                <%= link_to 'Inventory', inventory_path %>
            </div>
            <div class='nav-item'>
                <%= link_to 'Group', root_path %>
            </div>
        </div>
        <div class='nav-group'>
        </div>
    </div>
</div>