<div class='nav-container'>
    <div class='nav-row'>
        <div class='nav-group'>
            <div class='nav-item'>
                <%= image_tag('/images/logo.png') %>
            </div>
        </div>
        <div class='nav-group'>
            <div class='nav-item'>
                Hello Derick
            </div>
            <div class='nav-item'>
                <%= link_to 'Sign Out', sign_in_path %>
            </div>
        </div>
    </div>
    <div class='nav-row'>
        <div class='nav-group'>
        </div>
        <div class='nav-group'>
            <div class='nav-item'>
                <%= link_to 'Home', home_index_path %>
            </div>
            <div class='nav-item'>
                <%= link_to 'Inventory', home_index_path %>
            </div>
            <div class='nav-item'>
                <%= link_to 'Group', home_index_path %>
            </div>
        </div>
        <div class='nav-group'>
        </div>
    </div>
</div>