<div class='column'>
    <div class='row'>
        <h2 class='header-content'>New Item</h2>
    </div>
    <%= form_with model: @item, local: true do |f| %>
        <div class='row'>
            <div class='column'>
                <%= f.label :brand %>
                <%= f.text_field :brand %>
            </div>
            <div class='column'>
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>
        </div>
        <div class='row'>
            <div class='column'>
                <div class='row'>
                    <%= f.label :sex, 'Unisex' %>
                    <%= f.radio_button :sex, 'Unisex' %>
                </div>
                <div class='row'>
                    <%= f.label :sex, 'Men\'s' %>
                    <%= f.radio_button :sex, 'Men\'s' %>
                </div>
                <div class='row'>
                    <%= f.label :sex, 'Women\'s' %>
                    <%= f.radio_button :sex, 'Women\'s' %>
                </div>
            </div>
            <div class='column'>
                <%= f.label :size%>
                <%= f.text_field :size%>
            </div>
        </div>
        <div class='row'>
            <div class='column'>
                <%= f.label :pictures %>
                <%= f.file_field :pictures %>
            </div>
        </div>
        <div class='row'>
            <div class='column'>
                <%= f.label :acquisition_value %>
                <%= f.text_field :acquisition_value %>
            </div>
            <div class='column'>
                <%= f.label :disposal_value %>
                <%= f.text_field :disposal_value %>
            </div>
        </div>
        <div class='row'>
            <div class='column'>
                <%= f.label :notes %>
                <%= f.text_field :notes%>
            </div>
        </div>
        <div class='row'>
            <%= f.submit 'Add Item' %>
        </div>
    <% end %>
    <div class='row'>
        <%= link_to 'Back', inventory_path %>
    </div>
</div>