<div class='column'>
    <div class='row'>
        <%= link_to 'New Item', new_item_path %>
    </div>
    <div class='row'>
        <h1><%= @item.brand %> |</h2>
        <h1>| <%= @item.name %></h2>
    </div>
    <div class='column'>
        <div class='row'>
            <p><%= @item.sex %> |</p>
            <p>| <%= @item.size %></p>
        </div>
        <div class='row'>
            <p><%= @item.pictures %></p>
        </div>
        <div class='row'>
            <p><%= @item.acquisition_value %> |</p>
            <p>| <%= @item.disposal_value %></p>
        </div>
        <div class='row'>
            <p><%= @item.notes %></p>
        </div>
    </div>
    <div class='row'>
        <%= link_to 'Back', inventory_path %>
    </div>
</div>