<div class='column'>
    <div class='row'>
        <%= @item.brand %> |
        <%= @item.name %>
    </div>
    <div class='row'>
        <%= @item.sex %> |
        <%= @item.size %>
    </div>
    <div class='row'>
        <%= @item.pictures %>
    </div>
    <div class='row'>
        <%= @item.acquisition_price %>
        <%= @item.disposal_price %>
    </div>
    <div class='row'>
        <%= @item.notes %>
    </div>
</div>